@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Yusei+Magic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

@media only screen and (max-width: 1400px) {
  .icon i {
    margin-left: 35px;
  }
  #about div h2 {
    padding: 0 0 0 15px;
    letter-spacing: 2px;
    font-family: Josefin Slab;
  }
}
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1250px) {
  .left {
  }
  .right {
  }
}
@media only screen and (max-width: 1200px) {
  .icon i {
    margin-left: 25px;
  }
  .my_work {
    width: 80%;
  }
  .portfolio {
    margin-left: 2rem;
  }

  .about_me {
  }
  #about div {
    width: 80rem;
    margin-left: 17%;
  }
}
@media only screen and (max-width: 1100px) {
  .my_work {
    width: 100%;
  }
  .portfolio {
    width: 100%;
    margin-left: -5em;
  }
  #about div {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 1065px) {
  #about div {
    margin-left: 12%;
  }

  .icon i {
    margin-left: 10px;
  }
  .topfield {
    width: 130px;
  }
  .bottomfield {
    width: 350px;
  }
  .right {
    margin-left: 7rem;
  }
}
@media only screen and (max-width: 1000px) {
  nav ul li a {
    font-size: 15px;
  }
  .intro_container h1 {
    font-size: 30px;
    margin-top: 17rem;
  }
}
@media only screen and (max-width: 970px) {
  .icon i {
    margin-left: -5px;
  }
  .right {
    margin-left: 0rem;
  }
  .portfolio {
    width: 125%;
    margin-left: -7em;
  }
  #about div {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 900px) {
  .intro {
    margin-top: -5rem;
  }
  .portfolio {
    width: 115%;
    margin-left: -5em;
    grid-gap: 10px;
  }
  .portfolio img,
  .portfolio_item {
    height: 220px;
  }
  .portfolio_item:hover .detail {
    transform: translateY(-220px);
  }
  .detail {
    font-size: 12px;
  }
  #about div {
    margin-left: 6%;
    width: 77rem;
  }
}
@media only screen and (max-width: 850px) {
  .portfolio {
    width: 110%;
    margin-left: -5em;
  }
  #about div {
    margin-left: 5%;
    width: 74rem;
  }

  .contact-content {
    display: block;
  }
  footer {
    margin-top: 30rem;
  }
  nav ul li a {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 800px) {
  nav ul li a {
    margin-left: -10px;
  }

  .portfolio {
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin-left: -1em;
    grid-gap: 30px;
  }
  .portfolio img,
  .portfolio_item {
    height: 210px;
  }
  .portfolio_item:hover .detail {
    transform: translateY(-210px);
  }
  .work_section_title,
  .work_section_subtitle {
    margin-left: 0px;
    text-align: center;
    width: 80%;
  }

  #about div {
    margin-left: 2%;
    width: 75rem;
    font-size: 12px;
  }

  .icon i {
    margin-left: 40px;
  }
  .contact-btn {
    margin-left: 30rem;
  }
}
@media only screen and (max-width: 771px) {
  #about div {
    margin-left: 2%;
    width: 75rem;
    font-size: 12px;
  }
  #about div img {
    width: 160px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 762px) {
  .portfolio {
    width: 100%;
  }
  .work_section_title,
  .work_section_subtitle {
    width: 100%;
  }
  #about div {
    margin-left: 2%;
    width: 70rem;
    font-size: 12px;
  }
  #about div img {
    width: 170px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 720px) {
  #about div {
    margin-left: 2%;
    width: 63rem;
    font-size: 12px;
  }
  #about div img {
    width: 170px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-btn {
    margin-left: 25rem;
  }
  nav ul li a {
    font-size: 14px;
  }
  .logo h5 {
    font-size: 16px;
  }
  .intro_container h1 {
    font-size: 25px;
  }
  .intro_container img {
    width: 140px;
  }
  #work {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 650px) {
  .contact-btn {
    margin-left: 22rem;
  }
  #work {
    width: 94%;
    margin-left: 5%;
  }
  #about div img {
    width: 160px;
    margin-top: 20px;
  }
  #about div {
    width: 62rem;
  }
  #about div h2 {
    font-size: 22px;
    padding: 0 0 0 15px;
    font-family: Josefin Slab;
  }
}
@media only screen and (max-width: 600px) {
  .icon i {
    margin-left: 20px;
  }
  nav ul li a {
    font-size: 12px;
  }
  .logo h5 {
    font-size: 15px;
  }
  .intro_container {
    width: 350px;
  }
  .intro_container h1 {
    font-size: 22px;
    margin-top: 16rem;
    margin-left: -2rem;
  }
  .intro_container img {
    width: 140px;
    margin-left: -2rem;
    margin-top: -1rem;
  }
  .intro_container p {
    margin-left: -2rem;
  }
  .portfolio {
    grid-gap: 10px;
    margin-left: 0px;
  }
  #about div img {
    width: 140px;
    margin-top: 10px;
  }
  #about div {
    width: 57rem;
  }
  footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 570px) {
  nav ul {
    margin-right: -40px;
  }
  .detail {
    font-size: 11px;
  }
  .portfolio img,
  .portfolio_item {
    height: 190px;
  }
  .portfolio_item:hover .detail {
    transform: translateY(-190px);
  }
  .detail button {
    padding: 4px 8px 4px 8px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .detail {
    font-size: 10px;
  }

  #about div img {
    width: 140px;
    margin-top: 70px;
  }
  #about div {
    width: 52rem;
  }
  #about div h2 {
    text-align: center;
    padding: 0;
  }

  .contact-btn {
    margin-left: 18rem;
  }
  .topfield {
    width: 108px;
  }
  .bottomfield {
    width: 300px;
  }
  .logo {
    margin-left: -25px;
  }
}
@media only screen and (max-width: 520px) {
  #about div img {
    width: 130px;
    margin-top: 80px;
    margin-right: 0px;
  }
  #about div {
    width: 49rem;
  }
}
@media only screen and (max-width: 500px) {
  nav ul li a {
    font-size: 10px;
  }
  .logo h5 {
    font-size: 12px;
  }
  #work {
    width: 80%;
    margin-left: 10%;
  }

  .portfolio {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .portfolio img,
  .portfolio_item {
    height: 200px;
    width: 90%;
    overflow: hidden;
  }
  .portfolio_item {
    margin-left: 4rem;
  }
  #about div .section_subtitle_about {
    text-align: center;
  }
  #about div {
    width: 47rem;
  }
  #about div img {
    margin-right: -10px;
  }

  .detail {
    height: 200px;
    width: 90%;
    font-size: 12px;
  }
  .detail button {
    font-size: 12px;
  }
  .portfolio_item:hover .detail {
    transform: translateY(-200px);
  }
  #contact {
  }
  .icon i {
    margin-left: 10px;
  }
  .contact-btn {
    margin-left: 15rem;
  }
  footer {
    font-size: 10px;
  }
}
@media only screen and (max-width: 470px) {
  .contact label {
    font-size: 12px;
  }
  .contact h3 {
    font-size: 19px;
  }
  .icon i {
    font-size: 25px;
  }
  .info h4 {
    font-size: 15px;
  }
  .info p {
    font-size: 12px;
  }
  .right {
    margin-left: -30px;
    width: 30rem;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    margin-left: -30px;
  }
  nav ul li a {
    letter-spacing: 0px;
  }
  .intro_container {
    margin-left: 5rem;
  }

  .intro_container h1 {
    font-size: 18px;
    margin-top: 16rem;
    margin-left: -2rem;
  }
  .intro_container img {
    width: 140px;
    margin-left: -2rem;
    margin-top: -2rem;
  }
  .intro_container p {
    margin-left: -2rem;
    font-size: 12px;
  }

  #work {
    width: 82%;
  }

  #about div img {
    position: unset;
    margin-top: 0px;
    margin-left: 37%;
  }
  #about div p {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  #about div {
    width: 43rem;
  }

  .topfield {
    width: 60px;
  }
  .bottomfield {
    width: 200px;
  }
  .right {
    padding: 0 0 0 0;
    width: 45rem;
  }
  .right button {
    margin-left: 20rem;
  }
}
@media only screen and (max-width: 430px) {
  .intro_container {
    margin-left: 2rem;
  }
  .portfolio_item {
    margin-left: 10px;
    width: 103%;
  }
  #work {
    width: 83%;
  }
  #about div {
    width: 35rem;
    margin-left: 3rem;
  }
  #about div img {
    margin-left: 11rem;
  }
  .right {
    width: 40rem;
  }
  .right label {
    margin-left: -10px;
  }
  .right div {
    width: 40rem;
    padding: 0 0 0 20px;
  }
  .right div div {
    margin-left: -10px;
  }
  .topfield {
    width: 80px;
  }
  .one {
    width: 110px;
    margin-left: -10px;
  }
  .two {
    width: 110px;
    margin-left: -10px;
  }
  .bottomfield {
    width: 270px;
  }
  .right button {
    margin-left: 15rem;
  }
}
@media only screen and (max-width: 400px) {
  .logo {
    margin-left: -40px;
  }
  nav ul li {
    margin-left: -10px;
  }
  .intro_container {
    margin-left: 3rem;
    width: 300px;
  }

  .intro_container h1 {
    font-size: 16px;
    margin-top: 16rem;
    margin-left: -2rem;
  }
  .intro_container img {
    width: 120px;
    margin-left: -1rem;
    margin-top: -0rem;
  }
  .intro_container p {
    margin-left: -2rem;
    font-size: 10px;
    width: 280px;
  }
  .portfolio_item {
    margin-left: 2px;
    width: 110%;
  }
  #about div {
    width: 34rem;
    margin-left: 3rem;
  }
  .right div div {
    margin-left: -20px;
  }
  .right button {
    margin-left: 13rem;
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  #work {
    width: 80%;
  }
  .portfolio_item {
    height: 180px;
  }
  #about div {
    margin-left: 1rem;
  }
  .detail {
    font-size: 10px;
  }
  .right {
    width: 35rem;
  }
  .right div div {
    margin-left: -20px;
  }
  .right div {
    width: 37rem;
  }
  .right button {
    margin-left: 12rem;
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .topfield {
    width: 79px;
  }
  .bottomfield {
    width: 250px;
  }
}
@media only screen and (max-width: 350px) {
  .logo {
    font-size: 10px;
    margin-left: -25px;
  }
  nav ul li a {
    font-size: 8px;
  }
  .intro_container img {
    width: 100px;
    margin-left: -2.5rem;
    margin-top: -0rem;
  }
  .intro {
    margin-top: -11rem;
    margin-left: 0px;
  }
  .intro_container {
    margin-left: 3rem;
    width: 300px;
  }
  .intro_container p {
    padding: 2px 2px 2px 125px;
  }

  .intro_container h1 {
    font-size: 16px;
    margin-top: 14rem;
    margin-left: -7.5rem;
  }
  .portfolio {
    width: 103%;
  }
  #about div {
    width: 32rem;
  }
  #about div img {
    margin-left: 10rem;
  }
  #contact {
  }
  .contact-content {
    display: block;
    height: 500px;
  }
  footer {
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 300px) {
  #contact {
  }
}
